In [2]:
import pandas as pd, numpy as np, os, warnings, psutil
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import re
import pickle
from sklearn.svm import SVC

In [3]:
pwd

'/Users/adityabhatkal/Desktop/Changes addy-bhatkal-portfolio _ being made'

In [4]:
df = pd.read_csv('/Users/adityabhatkal/Desktop/Practice 32/AG_news_classification.csv')

In [5]:
df['Class Index'] = df['Class Index'].map({3: 'Finance', 2: 'Sports', 1:'Geopolitics', 4:'Tech' })

In [6]:
df

,Class Index,Title,Description
0,Finance,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli..."
1,Finance,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
2,Finance,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
3,Finance,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
4,Finance,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."
...,...,...,...
127595,Geopolitics,Around the world,Ukrainian presidential candidate Viktor Yushch...
127596,Sports,Void is filled with Clement,With the supply of attractive pitching options...
127597,Sports,Martinez leaves bitter,Like Roger Clemens did almost exactly eight ye...
127598,Finance,5 of arthritis patients in Singapore take Bext...,SINGAPORE : Doctors in the United States have ...
127599,Finance,EBay gets into rentals,EBay plans to buy the apartment and home renta...

In [7]:
df['Query'] = df['Title'] + " " + df['Description']

In [8]:
df1 = pd.DataFrame([df['Class Index'], df['Query']]).transpose()

In [9]:
df1

        Class Index                                              Query
0           Finance  Wall St. Bears Claw Back Into the Black (Reute...
1           Finance  Carlyle Looks Toward Commercial Aerospace (Reu...
2           Finance  Oil and Economy Cloud Stocks' Outlook (Reuters...
3           Finance  Iraq Halts Oil Exports from Main Southern Pipe...
4           Finance  Oil prices soar to all-time record, posing new...
...             ...                                                ...
127595  Geopolitics  Around the world Ukrainian presidential candid...
127596       Sports  Void is filled with Clement With the supply of...
127597       Sports  Martinez leaves bitter Like Roger Clemens did ...
127598      Finance  5 of arthritis patients in Singapore take Bext...
127599      Finance  EBay gets into rentals EBay plans to buy the a...

[127600 rows x 2 columns]

In [10]:
df1['Query'] = df1['Query'].apply(lambda x : re.sub(r'\d+', '', x))

In [11]:
cv1 = CountVectorizer(ngram_range=(1,1), stop_words='english', max_features=800)
vec_toarray = cv1.fit_transform(df1.iloc[:,1]).toarray()
matrix = pd.DataFrame(vec_toarray, columns=[cv1.get_feature_names_out()])
matrix

,access,according,accused,action,administration,afghan,afghanistan,afp,africa,african,...,xp,yahoo,yankees,yards,yasser,year,years,yesterday,york,yukos
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127595,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
127596,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
127597,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
127598,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
127599,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df1

        Class Index                                              Query
0           Finance  Wall St. Bears Claw Back Into the Black (Reute...
1           Finance  Carlyle Looks Toward Commercial Aerospace (Reu...
2           Finance  Oil and Economy Cloud Stocks' Outlook (Reuters...
3           Finance  Iraq Halts Oil Exports from Main Southern Pipe...
4           Finance  Oil prices soar to all-time record, posing new...
...             ...                                                ...
127595  Geopolitics  Around the world Ukrainian presidential candid...
127596       Sports  Void is filled with Clement With the supply of...
127597       Sports  Martinez leaves bitter Like Roger Clemens did ...
127598      Finance   of arthritis patients in Singapore take Bextr...
127599      Finance  EBay gets into rentals EBay plans to buy the a...

[127600 rows x 2 columns]

In [13]:
x = matrix
y = df1['Class Index']
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=42)
nb = MultinomialNB()
model = nb.fit(x_train, y_train)
y_predict = nb.predict(x_test)
acc = accuracy_score(y_predict, y_test)
acc

0.8467476489028213

In [14]:
def sentiment():
    user_input = input()
    new_user_row = pd.DataFrame({'Class Index':[''], 'Query': [user_input]})
    df2 = pd.concat([df1,new_user_row], ignore_index = True)

    cv1 = CountVectorizer(ngram_range=(1,1), stop_words='english', max_features=800)
    vec_toarray = cv1.fit_transform(df2.iloc[:,1]).toarray()
    matrix = pd.DataFrame(vec_toarray, columns=[cv1.get_feature_names_out()])
    matrix

    x = matrix
    y = df2['Class Index']
    x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=42)
    nb = MultinomialNB()
    model = nb.fit(x_train, y_train)
    y_predict = nb.predict(x_test)
    acc = accuracy_score(y_predict, y_test)
    acc

    vec_toarray = cv1.transform([user_input])
    return model.predict(vec_toarray.toarray())[0]

In [15]:
sentiment()

'Geopolitics'

In [16]:
with open('nb_model.pkl', 'wb') as model_file, open('cv1.pkl', 'wb') as vec_file:
    pickle.dump(cv1 ,vec_file)
    pickle.dump(model ,model_file)


with open('nb_model.pkl', 'rb') as model_file, open('cv1.pkl', 'rb') as vec_file:
    cv2 = pickle.load(vec_file)
    model2 = pickle.load(model_file)

In [17]:
def senti():
    user_input1 = input()
    vec1 = cv2.transform([user_input1]).toarray()
    user_row = model2.predict(vec1)
    return user_row[0]

In [18]:
senti()

'Sports'

In [19]:


x1_train, x1_test, y1_train, y1_test = train_test_split(x,y,test_size=0.2, random_state=42)
svc = SVC()
model2 = svc.fit(x1_train, y1_train)
y1_predict = svc.predict(x1_test)
acc1 = accuracy_score(y1_predict, y1_test)
acc1